{% extends 'base.html.twig' %}
{% block title %}
	Tous les articles
{% endblock %}
{% block mainContent %}
	<section>
		<h1>Liste des articles</h1>
		<div class="postListAdmin">
			<div class="checkbox-all">
				<input name="checkbox-all" id="checkbox-all" class="blogPostListAdminCheckbox" type="checkbox"/>
				<label for="checkbox-all">Tout sélectionner</label>
				<div class="postAdmin__linkContainer">
					<div class="postAdmin__link">
						<a id="publishSelected" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/publier">Publier les articles séléctionnés</a>
					</div>
					<div class="postAdmin__link">
						<a id="hideSelected" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/publier">Masquer les articles séléctionnés</a>
					</div>
					<div class="postAdmin__link">
						<a id="deleteAll" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/supprimer">Supprimer les articles séléctionnés</a>
					</div>
				</div>
			</div>
			<a href="{{pathToPublic}}{{adminLink}}/article/ajouterunarticle">Ajouter un article</a>
			{% for post in postList %}
				{% if post.status == 'hidden' %}
					<div class="postListAdmin__post">
						<input id="checkbox-{{post.id}}" class="blogPostListAdminCheckbox" type="checkbox" name="checkboxPost"/>
						<div class="postListAdmin__img__container"><img class="postListAdmin__img" src="{{pathToPublic}}images/photoValentin.jfif"/></div>
						<div class="postAdmin__container">
							<div class="postAdmin__title">
								<a href="{{pathToPublic}}{{adminLink}}/article/{{post.id}}/afficher">
									<b>{{post.title}}
										(masqué) - publié le
										{{post.created_at}}</b>
								</a>
							</div>
							<div class="postAdmin__linkContainer">
								<div class="postAdmin__link">
									<a id="update-{{post.id}}" class="update" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/afficher">Modifier</a>
								</div>
								<div class="postAdmin__link">
									<a id="publish-{{post.id}}" class="publish" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/publier">Publier l'article</a>
								</div>
								<div class="postAdmin__link">
									<a id="delete-{{post.id}}" class="delete" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/supprimer">Supprimer</a>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="postListAdmin__post">
						<input id="checkbox-{{post.id}}" class="blogPostListAdminCheckbox" type="checkbox" name="checkboxPost"/>
						<div class="postListAdmin__img__container"><img class="postListAdmin__img" src="{{pathToPublic}}images/photoValentin.jfif"/></div>
						<div class="postAdmin__container">
							<div class="postAdmin__title">
								<a href="{{pathToPublic}}{{adminLink}}/article/{{post.id}}/afficher">
									<b>{{post.title}}
										- publié le
										{{post.created_at}}</b>
								</a>
							</div>
							<div class="postAdmin__linkContainer">
								<div class="postAdmin__link">
									<a id="update-{{post.id}}" class="update" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/afficher">Modifier</a>
								</div>
								<div class="postAdmin__link">
									<a id="publish-{{post.id}}" class="publish" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/masquer">Masquer l'article</a>
								</div>
								<div class="postAdmin__link">
									<a id="delete-{{post.id}}" class="delete" href="{{pathToPublic}}{{adminLink}}/article/{{ post.id }}/supprimer">Supprimer</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block scriptJs %}<script type="module" src="{{pathToPublic}}index.js"></script>{% endblock %}