{% extends 'base.html.twig' %}
{% block title %}
	Modifier un article
{% endblock %}
{% block mainContent %}
	<section id="section-admin-post">
		<h1>Modifier un article</h1>
		{% if errorMsg is same as(true) %}
			<p class="error-msg">
				<b>Erreur</b>
				<br/>
				Aucun champ de texte ne doit être vide
				<br/>
				ou
				<br/>
				Le transfert du fichier n'a pas fonctionné.
				<br/>
				Taille maximale autorisée : 3Mo
				<br/>
				Extensions acceptées : .jpg, .jpeg, .png
			</p>
		{% endif %}
		<div class="flex-col-center">
			{{ postList.name }}
			{{ postList.surname }}
			<form class="flex-col-center form-admin" action="{{pathToPublic}}{{adminLink}}/article/{{postList.id}}/modifier" method="POST" enctype="multipart/form-data" class="col-center">
				<div class="select-container">
					<label for="idUser">Modifier le rédacteur de l'article</label>
					<select name="idUser" id="idUser">
						<option value="{{postList.idUser}}" selected>{{postList.name}}-{{postList.surname}}-{{postList.idUser}}</option>
						{% for adminUser in adminUsersList %}
							{% if postList.idUser is same as(adminUser.id) is same as(false) %}
								<option value="{{adminUser.id}}">{{adminUser.name}}-{{adminUser.surname}}-{{adminUser.id}}</option>
							{% endif %}
						{% endfor %}

					</select>
				</div>
					<label for="postFile">Ajouter/Modifier une image</label>
					<input name="postFile" id="postFile" type="file">
					<label for="title">Titre de l'article</label>
					<textarea name="title" id="title" class="postTitle-textarea">{{ postList.title }}</textarea>
					<label for="chapo">Chapô</label>
					<textarea name="chapo" id="chapo" class="chapo-textarea">{{ postList.chapo }}</textarea>
					<label for="content">Contenu de l'article</label>
					<textarea name="content" id="content" class="postContent-textarea">{{ postList.content }}</textarea>
					<button type="submit">Valider</button>
			</form>
		</div>
	</section>
{% endblock %}
