<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{pathToPublic}}style/css/style.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
		<title>
			{% block title %}
			blog
			{% endblock %}
		</title>
	</head>

	<body>
		<header>
			<div class="h-navlinks">
					<a href="{{pathToPublic}}accueil" class="h-navlink title">Accueil</a>
					<a href="{{pathToPublic}}touslesarticles" class="h-navlink title">Articles</a>
					{% if userSession.logged is same as(false) %}
					<a href="{{pathToPublic}}connexion" class="h-navlink title">Connexion</a>
					<a href="{{pathToPublic}}inscription" class="h-navlink title">S'inscrire</a>
					{% endif %}
					{% if userSession.logged is same as(true) %}
					<a href="{{pathToPublic}}deconnexion" class="h-navlink title">Déconnexion</a>
					{% endif %}
			</div>
		</header>
		{% block mainContent %}{% endblock %}
		<footer>{% if userSession.role is same as('admin') %}<a href="{{pathToPublic}}{{userSession.adminLink}}">Administration</a>{% endif %}</footer>

		{% block scriptJs %}{% endblock %}
	</body>

</html>
