{% extends 'base.html.twig' %}
{% block title %}
	Tous les articles
{% endblock %}
{% block mainContent %}
	<section class="blogPostsList">
		<h1>Tous mes articles de blog</h1>

		<div class="blogPostsList__container">
			{% for post in postList %}
				{% if post.status is same as('published') %}
					<div class="blogPostsList__container__sub">
						<div class="thumbnail-blogPostsList">
							<img class="thumbnail-small" src="{{pathToPublic}}images/photoValentin.jfif"/>
							<div>
								<h3 class="thumbnail-blogPostsList__title">{{ post.title }}</h3>
								<b class="thumbnail-blogPostsList__p">{{post.chapo}}</b>
								<p class="thumbnail-blogPostsList__p">{{ post.updated_at }}</p>
								<a class="thumbnail-blogPostsList__link" href="{{pathToPublic}}post/{{ post.id }}">En savoir plus</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

{% endblock %}
